## Visual Studio / .NET
bin/
obj/
*.user
*.suo
.vs/
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.db

## NuGet
packages/
*.nupkg
project.lock.json
project.assets.json

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bld/

## ASP.NET Scaffolding
ScaffoldingReadMe.txt

## Logs
*.log
